/*------------------------------Estilos Index------------------------------*/
/*------Estilos Header------*/

.navbar {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    color: black
}

.navbar-nav .nav-item .nav-link:hover {
    font-weight: bold; 
    font-size: medium; 
    transform: scale(1.00); 
}

.navbar-nav .nav-item .nav-link {
    margin-right: 10px;
}

/*------Estilos banner------*/
.banner-principal {
    background-image: url('../IMAGENES/INDEX/banner/fresh-coffee-steams-wooden-table-close-up-generative-ai.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    position: relative;
    padding: 20px; 
    color: #fff;
    min-height: 600px;   
}

.Tituloprincipal{
    font-family:'Poppins', sans-serif;
    font-weight: bold; 
    letter-spacing: 2px;
    font-size: 50px;
    position: relative;
    z-index: 1;
}

/* Overlay banner*/
.overlay-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    /*z-index: -1;*/
}

/*------Estilos primera sección------*/
h2.text-center {
    font-family: 'Poppins', sans-serif; 
    font-size: 25px; 
    font-weight: bold;  
    margin-bottom: 20px; 
}

p.justificado-principal {
    font-family: 'Poppins', sans-serif; 
    font-size: 18px; 
    text-align: justify; 
}

/*------Estilos segunda sección------*/

/* Estilos items col*/
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* Estilos para los párrafos de los items */
p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/* Estilos para las imágenes de los items */
.img-cafe {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 10px; 
    margin: 0 auto; 
}

/* Estilos para la imagen central */
.text-center .img-fluid.mx-auto.my-auto {
    display: block;
    margin: 0 auto;}


/*------Estilos tercera sección------ */

.custom-column {
    position: relative;
}

.background-image {
    background-size: cover;
    background-position: center;
    height: 280px; 
    position: relative;
}

.background-image-2 {
    background-size: cover;
    background-position: center;
    height: 584px; 
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
}

.btn-primary { 
    background-color: rgb(157, 21, 21);
    border-color: rgb(157, 21, 21);
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: normal;
}

.btn-primary:hover {
    background-color: #030303; 
    border-color: #000000; 
    color: #ffffff; 
}  


/*------------------------------Estilos Origen------------------------------*/

.banner-Origen {
    background-image: url('../IMAGENES/ORIGEN/banner\ origen.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    position: relative;
    padding: 20px; 
    color: #fff;
    min-height: 600px;   
}

  /* Estilo primera sección */
  .justificado-secundario {
    font-family: 'Poppins', sans-serif; 
    font-size: 14px; 
    text-align: justify;
  }

    /* Estilo segunda sección */
  .h3 .text-center {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  p.justificado-secundario {
    font-family: 'Poppins', sans-serif; 
    font-size: 14px; 
    text-align: justify; 
  }
 
  
  /*------------------------------Estilos tipos------------------------------*/
  .banner-tipos {
    background-image: url('../IMAGENES/TIPOS/Tipos_de_cafe.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    position: relative;
    padding: 20px; 
    color: #fff;
    min-height: 600px;   
}

.ImagenClaseCAfe {
    width: 30%;
    height: auto;
    object-fit: cover;
}

  /*------------------------------Estilos metodos------------------------------*/
  .banner-metodos {
    background-image: url('../IMAGENES/METODOS/banner\ preparacion.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    position: relative;
    padding: 20px; 
    color: #fff;
    min-height: 600px;   
}

  /*------------------------------Estilos recetas------------------------------*/
  .banner-recetas {
    background-image: url('../IMAGENES/RECETAS/banner\ recetas.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    position: relative;
    padding: 20px; 
    color: #fff;
    min-height: 600px;   
}
  
  
  

    
  
  

 
  
 
